{% extends "pickup/base.html" %}

<ul class="nav pull-right">
    {% if user.is_authenticated %}
    <li><a href="/profile/">{{ user }}</a></li>
    <li>
        <form style="margin:0;" action='/logout/' method="POST">
        {% csrf_token %}
            <input type="submit" value="Logout" class="btn btn-link" style="color:#777777;" /></li>
            <input type="hidden" name="next" value="{{ current_path }}" />
        </form>
    </li>
    {% else %}
    <li class="dropdown">
        <a class="dropdown-toggle" href="#" data-toggle="dropdown">Login <strong class="caret"></strong></a>
        <div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
            <form action='/login/' method="POST">
            {% csrf_token %}
                {% if form.errors %}
                    {{ form.errors}}
                {% endif %}
                <label for="id_email">Login:</label>
                <input type="text" name="email" id="id_email">
                <br />
                <label for="id_password">Pass:</label>
                <input type="password" name="password" id="id_password">
                <br />
                <input class="btn btn-primary" type="submit" value="Login" />
                <input type="hidden" name="next" value="{{ current_path }}" />
            </form>
        </div>
    </li>
</ul>
    {% endif %}