body {
  margin-bottom: 60px; /* Margin bottom by footer height */
}

#main {
  overflow: scroll;
}

#submit_paragraph, .list-group, .modal-ios, #top_inline {
  padding: 1em; /* moved from .list-group */
  position: relative; /* added to centralize positions */
}

.modal-ios, .modal, .datepicker {
  position: absolute;
  overflow: visible;
}

.modal {
  z-index: 1151 !important;
}

.datepicker {
  z-index: 1152 !important;
}

#add {
  color: black;
  margin-bottom: .10em;
  margin-left: -.25em;
}

#add_button, .search, .actions {
  float: right;
  margin-right: 1.5em; /* adjusted for consistency */
}

#item_button {
  font-size: 1em;
  margin-top: -.8em;
}

#item_list, #note_list {
  margin: -1em 0 1em;
}

#item_state {
  float: right;
  margin-top: -2.5em;
  border: none;
  padding: 0px;
}

#item_add_comment {
  margin-top: -.5em;
  font-size: .95em;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

#textarea {
  width: 100%;
}

.btn-default:focus,
.btn-default:active,
.btn-default.active,
.btn-default:hover {
  background-color: white;
}

#nav-link {
  color: black;
}

.top-nav {
  margin: 1em 0;
}

#grid-header {
  text-align: right;
}

#password_form, #reset_password2, #remove_transaction {
  padding-top: .5em;
}

.errorlist {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.login-form {
  margin: 10% auto 0;
  width: 20em;
}

.unstyled {
  list-style-type: none;
  line-height: 2em;
  margin-left: -2.8em;
}

html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1em;
  font-size: .75em;
}

.trans-pills {
  font-size: .9em;
}

.container .text-muted {
  margin: -1.25em;
}
