{% extends "pickup/base.html" %}

{% block title %}Home{% endblock %}

{% block header %}{% endblock %}

{% block content %}

<div class="col-12 col-centered">
  {% if overdue_transactions == 1 %}
    <div class="alert alert-danger fade in" role="alert">
      <span class="glyphicon glyphicon-time"></span>
      There is one overdue transaction which needs your attention. <a href="/active" class="alert-link">View it here</a>.
    </div>
  {% elif overdue_transactions > 1 %}
    <div class="alert alert-danger fade in" role="alert">
      <span class="glyphicon glyphicon-time"></span>
      There are {{ overdue_transactions }} overdue transactions which need your attention. <a href="/active" class="alert-link">View them here</a>.
    </div>
  {% endif %}

<!-- Nav tabs -->
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="help-tab" data-bs-toggle="tab" data-bs-target="#help" type="button" role="tab" aria-controls="help" aria-selected="true">Help</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="stats-tab" data-bs-toggle="tab" data-bs-target="#stats" type="button" role="tab" aria-controls="stats" aria-selected="false">Stats</button>
  </li>
</ul>

<div class="tab-content">
  <!-- Help Tab -->
  <div class="tab-pane fade show active" id="help" role="tabpanel" aria-labelledby="help-tab">
    <br />
    <h4>When Do I Use This?</h4>
    <p>Use this app whenever customer items are moved to or from the "Sold" holding area.</p>
    <br />
    <h4>How Do I Do It?</h4>
    <p>
      Click the
      <i class="bi bi-plus-circle"></i> button to add a transaction and its items. The transaction should appear under the 'Active' page.
    </p>
    <br />
    <h4>What If I Have Issues?</h4>
    <p>Send an email to <a href="mailto:paul@paulsolin.com">paul@paulsolin.com</a>, or file a bug at the repository over at <a href="http://github.com/psolin">github.com/psolin</a>.</p>
  </div>

  <!-- Stats Tab -->
  <div class="tab-pane fade" id="stats" role="tabpanel" aria-labelledby="stats-tab">
    <br />
    <p>Stats will go here. Some day.</p>
  </div>
</div>

</div>
{% endblock %}
