{% extends "pickup/base.html" %}

{% block content %}
<div class="card align-items-center">
<article class="card-body">
	<h4 class="card-title text-center mb-4 mt-1">Sign in</h4>
	<hr>
	<form action='/login/' method="POST">
        {% csrf_token %}
        {% if form.errors %}
            {{ form.errors}}
        {% endif %}
	<div class="form-group">
		<label for="id_email">Email address</label>
	<div class="input-group">
		<input name="email" id="id_email" class="form-control" placeholder="test@example.com" type="email">
	</div> <!-- input-group.// -->
	</div> <!-- form-group// -->
	<div class="form-group">
		<label for="id_password">Password</label>
	<div class="input-group">
	    <input class="form-control" name="password" id="id_password" placeholder="******" type="password">
	</div> <!-- input-group.// -->
	</div> <!-- form-group// -->
	<div class="form-group">
		<br/>
	<button type="submit" value="Login" class="btn btn-primary btn-block"> Login  </button>
	</div> <!-- form-group// -->
	<p class="text-center"><a href="#" class="btn">Forgot password?</a></p>
        <input type="hidden" name="next" value="{{ current_path }}" />
	</form>
</article>
</div> <!-- card.// -->
{% endblock %}