<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Login</title>

    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/css/custom.css" rel="stylesheet">

    <!-- pickadate.js CSS -->
    <link href="/static/css/classic.css" rel="stylesheet">
    <link href="/static/css/classic.date.css" rel="stylesheet">
    <link href="/static/css/classic.time.css" rel="stylesheet">

    <!-- Bootstrap Tagsinput -->
    <link href="/static/css/bootstrap-tagsinput.css" rel="stylesheet">
    
    <!-- Bootgrid -->
    <link href="/static/css/jquery.bootgrid.css" rel="stylesheet">

  </head>
  <body>
  	<div class="container">			
			<section class="main">
				<form class="login-form well offset4 span4">
					<p><span class="log-in h4">Pickup DB</span></p>
					<p class="float">
						<div class="input-group">
						  <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
						  <input type="text" class="form-control" placeholder="Username">
						</div>
					</p>
					<p class="float">
						<div class="input-group">
						  <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
						  <input type="password" class="form-control" placeholder="Password">
						</div>
					</p>
					<p class="clearfix text-center" id="submit_paragraph">   
						<input class="btn btn-default" type="submit" name="submit" id="submit_login" value="Log in">
					</p>
				</form>​​
			</section>
	</div>

  </body>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/static/js/jquery-1.9.1.min.js"></script>

    <!-- That bootstrap jawn -->
    <script src="/static/js/bootstrap.js"></script>

    <!--pickadate.js -->
    <script src="/static/js/picker.js"></script>
    <script src="/static/js/picker.date.js"></script>
    <script src="/static/js/legacy.js"></script>

    <!-- JQuery Bootgrid -->
    <script src="/static/js/jquery.bootgrid.js"></script>

    <!-- Bootstrap Tagsinput -->
    <script src="/static/js/bootstrap-tagsinput.min.js"></script>

    <!-- https://github.com/Tavicu/bootstrap-confirmation -->
    <script src="/static/js/bootstrap-confirmation.js"></script>
</html>