{% extends "registration/well_base.html" %}

{% block content %}
    {% if validlink %}
         <form action="" method="post">
            <div style="display:none">
                {% csrf_token %}
            </div>

            <div class="input-group" id="reset_password1">
                <span class="input-group-addon">New Password</span>
                <input id="id_new_password1" class="form-control" name="new_password1" type="password" />
            </div>

            <div class="input-group" id="reset_password2">
                <span class="input-group-addon">New Password Again</span>
                <input id="id_new_password2" class="form-control" name="new_password2" type="password" />
            </div>
            
            <br />
            
            
            {% if form.new_password1.errors %}
            <p>
            <div class="alert alert-danger" role="alert">
            {{ form.new_password1.errors }}
            </div>
            </p>
            {% endif %}

            {% if form.new_password2.errors %}
            <p>
            <div class="alert alert-danger" role="alert">
            {{ form.new_password2.errors }}
            </div>
            </p>
            {% endif %}

            <input type="submit" class="btn btn-primary pull-right" value="Change Password" />
            <br />
            <br />

        </form>
    {% else %}
        <p>Password reset was unsucessful, possibly because the link you followed has already been used.</p>

        <p><a href="/">Maybe you want to try logging in again?</a></p>
    {% endif %}
{% endblock %}